remi.ntnl.io {
    encode zstd gzip
    @backend path /api/* /healthz
    handle @backend {
        reverse_proxy 127.0.0.1:3000
    }
    handle {
        root * /opt/remi/current/web
        try_files {path} /index.html
        file_server
    }
}
